APP_NAME=Eduvacancy
APP_ENV=local
APP_KEY=base64:Jb/6gnjWEtLxLPzDcYMLTO64QF4wnoZPlrR8LE1eCL4=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=https://localhost/eduvacancy

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=eduvacancy_db
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=support@eduvacancy.com
MAIL_FROM_NAME=Eduvacancy

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

RECORD_LIMIT=10
STORAGE_TYPE=local
GOOGLE_MAP_KEY=

GOOGLE_RECAPTCHA_KEY=
GOOGLE_RECAPTCHA_SECRET=

STRIPE_PUB_KEY=
STRIPE_SECRET_KEY=
CURRENCY=USD

JWT_SECRET=FKcElxZSK8sLF7BkcVriELFU11d9LWAnPvxwi5GMh2h9hd72SzBevLMpPfNemLjs

SOCKET_URL=https://localhost:3000

TWILIO_SID=
TWILIO_TOKEN=
TWILIO_FROM=

FFMPEG=
FFPROBE=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=

OTP_SENDER=twilio
MSG91_KEY=
TEMPLATE_ID=